/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#app_area{
	border-style: solid;
	border-width: 2px;
	width:50%;
	float: left;
	style="display:inline-block;
	margin-left: 1%;
}

#prj_tree{
	border-style: solid;
	border-width: 2px;
	width:14%;
	float: left;
}

#connection_table{
	border-style: solid;
	border-width: 2px;
}

#constant_connection_table{
	border-style: solid;
	border-width: 2px;
}

#connection_info{
	float: left;
	margin-left: 1%;
}

#temp_stuff{
	padding-top: 37%;
}

#temp_inout{
	padding-left:18%;
}

#file_name_display{
	margin-left:0.5%;
}

#file_input_txt_box{
	margin-left:0.5%;
}